# GRUB2 Configuration for BoundaryOS

set timeout=5
set default=0

menuentry "BoundaryOS" {
    multiboot2 /boot/boundaryos boundaryos
    boot
}

menuentry "BoundaryOS (Serial Console)" {
    serial --unit=0 --speed=115200
    terminal_output serial console
    multiboot2 /boot/boundaryos boundaryos
    boot
}
